<!DOCTYPE html>
<html lang="ru">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="author" content="Denis Vasiliev" />
  <title>Анфиса</title>
  <link rel="stylesheet" href="{% static "styles/index.css" %}">
  <link rel="stylesheet" href="{% static "styles/vendor/normalize.css" %}">
  <!-- <link rel="stylesheet" href="../static/styles/index.css"> -->
  <!-- <link rel="stylesheet" href='../static/styles/vendor/normalize.css'> -->
</head>

<body class="body">
  <header class='header'>
    <div class="header__title">
      <h1 class='header__title_text'>Здравствуйте! Я - Анфиса!
        <span class='text__span'>ver 3.0</span></h1>
      <hr>
    </div>
  </header>
  <main>
    <section class='askMe'>
      <h3 class="askMe__title">Введите запрос:</h3>
      <form action="{{ where }}" method="post">
        <input class='askMe__input' type="text" name="query">
        <input class='askMe__button' type="submit" value="Спросить"><br><br>
      </form>
      {{ response | safe }}
      <p class="askMe__subtitle">Если у вас возникли трудности,<br>рекомендую ознакомиться
        со списком всех моих возможностей <a class='askMe__link' href="/about">тут.</a>
      </p>
      <p class="askMe__subtitle askMe__subtitle_scnd">Если у вас появился новый друг, и вы хотите <br>внести его в список
        ваших друзей, <br>перейдите <a class='askMe__link askMe__link_scnd' href="/new-friend">сюда.</a>
      </p>
    </section>
  </main>

</body>

</html>