<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="author" content="Denis Vasiliev" />
  <title>Анфиса 3.0</title>
</head>
<body>
  <form action="{{ where }}" method="post">
    <input class='askMe__input' type="text" name="name" placeholder="Имя">
    <input class='askMe__input' type="text" name="city" placeholder="Название города">
    <input class='askMe__button' type="submit" value="Сохранить"><br><br>
  </form>
  {{ response | safe }}
</body>
</html>